<div class="row dropdown" id="customBee">
  <div class="col-md-4">
    <h2><button type="button" name="addABee" id="addABee">Click Here to Add Your Own Bee</button></h2>
    <script type="text/javascript">
        $(document).ready(function(){
          $("#addABee").on('click', function(){
            $("#addABeeForm").toggle();
          });
        });
    </script>
    <form action="/addBee" id="addABeeForm" method="post">
      <div class="form-group">
        <label for="genus">Genus:</label>
        <input type="text" name="genus" placeholder="Enter Genus Here">{{!--Genus to be added to database--}}
      </div>
      <div class="form-group">
        <label for="species">Species:</label>
        <input type="text" name="species" placeholder="Enter Species Here">{{!--Species to be added to database--}}
      </div>
      <div class="form-group">
        <label for="description">Bee Description:</label>
        <textarea name="description" rows="8" cols="40" placeholder="What did the bee look like? How big was it? What was it doing?"></textarea>{{!--Description to be added to database--}}
      </div>
      <div class="form-group">
        <label for="image">Bee Image:</label>
        <input type="url" name="image" placeholder="Enter an image URL">{{!--Image URL to be added to database--}}
      </div>
      <div class="form-group">
        <label for="Location">Location:</label>
        <input type="hidden" name="lat" placeholder="Latitude" class="locationFieldLat">{{!--If we grab lat and long from browser we can replace placeholder="" with value="" and fill that in with handle bars for req.params for each--}}
        <input type="hidden" name="lng" placeholder="Longitude" class="locationFieldLong">

      </div>
      <button type="submit" name="">Add Your Custom Bee</button>{{!--This submit needs to take all the above information and create a new bee instance with it, possibly use it to append the entire page???--}}
    </form>
  </div>
</div>
<h3>...Or Pick From the List:</h3>
<div class="row" id="prepopulatedBeeInfo">
    {{#each splitBees}}
      <div class="row">
        <div class="col-md-2"></div>
        {{#each this}}
        <form action="/addBee" method="post">
          <div class="col-md-2 databaseBees">
            <div><img src="{{this.image}}" width="100px" height="100px"/></div>
            <div>{{this.genus}}</div>
            <input type="hidden" name="genus" value="{{this.genus}}" />
            <div>{{this.species}}</div>
            <input type="hidden" name="species" value="{{this.species}}" />
            <input type="hidden" name="lat" value="" class="locationFieldLat" />
            <input type="hidden" name="lng" value="" class="locationFieldLong" />
            <input type="hidden" name="image" value="{{this.image}}" />
            <div><button type="submit" name="">This is the Bee I Saw</button></div>
          </div>
            </form>
        {{/each}}
      </div>
    {{/each}}
</div>

<script>
if(navigator.geolocation) {
  browserSupportFlag = true;
  navigator.geolocation.getCurrentPosition(function(position) {
    $(".locationFieldLat").val(position.coords.latitude);
    $(".locationFieldLong").val(position.coords.longitude);
  }, function() {
    handleNoGeolocation(browserSupportFlag);
  });
}
// Browser doesn't support Geolocation
else {
  browserSupportFlag = false;
  handleNoGeolocation(browserSupportFlag);
}
function handleNoGeolocation(errorFlag) {
  if (errorFlag == true) {
    initialLocation = newyork;
  } else {
    initialLocation = siberia;
  }
}
</script>
