<div class="row">
  <div class="col-md-4">
    {{!--Left side space filler--}}
  </div>
  <div class="col-md-4">
    <h1>Edit Your Profile</h1>
      <form action="/editProfile" method="post">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" name="first_name" value="{{data.first_name}}">{{!--put handlbars with knex and user firstname knex reference in value--}}
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" name="last_name" value="{{data.last_name}}">{{!--put handlbars with knex and user lastname knex reference in value--}}
        </div>
        <div class="form-group">
          <label for="imageUrl">Change your Image:</label>
          <input type="url" name="avatar" value="{{data.avatar}}" required>{{!--put handlbars with knex and user image url knex reference in value--}}
        </div>
        <div class="form-group">
          <label for="userAge">Age:</label>
          <input type="number" min="1" max="120" name="userAge" placeholder="1" value="{{data.userAge}}">{{!--put handlebars with knex and user age IF it exists into value="", remove placeholder--}}
        </div>
        <div class="form-group">
          <label for="aboutMe">About Me:</label>
          <textarea name="aboutMe" rows="8" cols="40" placeholder="Tell us about yourself" value="">{{data.aboutMe}}</textarea>{{!--put handlebars with knex and users aboutMe IF it exists into value="", remove placeholder--}}

        </div>
        <button type="submit">Save These Changes</button>
      </form>
  </div>
  <div class="col-md-4">
    {{!--Right side space filler--}}
  </div>

</div>
