<div class="row">
  <div class="col-md-3 userInfo">
    {{!--Lefthand section with userinfo and avatar image--}}
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <img src={{username.avatar}} alt="User image/avatar" id="avatarPic"/>{{!--User image URL from user table, needs handlebars and knex--}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-xs-12 profileInfo">
        <h2>User Info</h2>
        <ul class="list-unstyled">
          <li>{{username.first_name}} {{username.last_name}}</li>{{!--First name from user table, needs handlebars and knex--}}
          <li>{{username.aboutMe}}</li>{{!--aboutMe from user table, needs handlebars and knex--}}
        </ul>

      </div>
    </div>
  </div>

  <div class="col-md-4 col-xs-12 beeFeed">
    {{!--Middle section with bee feed, needs to prepend for added bees--}}
    <div class="row">{{!--Need to do a FOR EACH based off of bees added by the logged in user--}}
      <div class="col-md-12 col-xs-12">
        <h2>Bees that I've Seen</h2>
          <ul class="list-unstyled">
        {{#each beeData}}
          <li>
            <img src="{{this.image}}" width='100' height='100'/>
          </li>
          <li>{{this.genus}}</li>
          <li>{{this.species}}</li>
          <li>{{this.description}}</li>
        {{/each}}
        </ul>


      </div>

    </div>
  </div>

  <div class="col-md-4 col-md-offset-1 col-xs-10 col-xs-offset-1 beeFacts">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h3>Bee Fact of the Day</h3>
      </div>
    </div>

    <div class="row" id="beeFact">
      <div class="col-md-12">
        <img/>
        <p></p>
      </div>
    </div>
    <script type="text/javascript">
      var randomFact = new Promise(function(resolve, reject){
        $.get('../beefact', function(data){
          return data;
        }).then(function(data){
          var factArray = [];
          data.forEach(function(data){
            factArray.push(data);
          })
          var randomized = factArray[Math.floor(Math.random() * factArray.length)];
          var factHeading = '<h4>'+ randomized.heading + '</h4>';
          var factImage = '<img id="factId" width="90%" src="' + randomized.image + '"/>';
          var factText = '<p>' + randomized.fact + '</p>';
          $("#beeFact").append(factHeading, factImage, factText);
        })
      })
    </script>
</div>
</div>
