<div class="row">
  <div class="col-md-4 userInfo">
    {{!--Lefthand section with userinfo and avatar image--}}
    <div class="row">
      <div class="col-md-12">
        <img src={{username.avatar}} alt="User image/avatar" id="avatarPic"/>{{!--User image URL from user table, needs handlebars and knex--}}
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 profileInfo">
        <h2>Profile Info</h2>
        <ul>
          <li>{{username.first_name}} {{username.last_name}}</li>{{!--First name from user table, needs handlebars and knex--}}
          <li>{{username.userAge}}</li>{{!--Age from user table, needs handlebars and knex--}}
          <li>{{username.aboutMe}}</li>{{!--aboutMe from user table, needs handlebars and knex--}}
        </ul>
        <a href="/editProfile"><button>Edit Profile</button></a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="/addBee"><button>Add Bee</button></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 beeFeed">
    {{!--Middle section with bee feed, needs to prepend for added bees--}}
    <div class="row">{{!--Need to do a FOR EACH based off of bees added by the logged in user--}}
      <div class="col-md-12">
        <h2>Bee Feed</h2>
        <ul>
          <li><img src="/images/megachile_apicalis.jpg" alt="a pic here" class="beeFeedPost"/>Bee Post</li>
          <li><img src="/images/megachile_apicalis.jpg" alt="a pic here" class="beeFeedPost"/>Bee Post</li>
          <li><img src="/images/megachile_apicalis.jpg" alt="a pic here" class="beeFeedPost"/>Bee Post</li>
          <li><img src="/images/megachile_apicalis.jpg" alt="a pic here" class="beeFeedPost"/>Bee Post</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="col-md-4 beeFacts col-xs-10">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h3>Bee Fact of the Day</h3>
      </div>
      <div class="col-xs-1"></div>
    </div>

    <div class="row" id="beeFact">
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-10 col-xs-10">
        <img/>
        <p></p>
      </div>
    </div>
    <script>
      var randomFact = new Promise(function(resolve, reject){
        $.get('../beefact', function(data){
          return data;
        }).then(function(data){
          var factArray = [];
          data.forEach(function(data){
            factArray.push(data);
          })
          var randomized = factArray[Math.floor(Math.random() * factArray.length)];
          var factHeading = '<h4>'+ randomized.heading + '</h4>';
          var factImage = '<img id="factId" width="90%" src="' + randomized.image + '"/>';
          var factText = '<p>' + randomized.fact + '</p>';
          $("#beeFact").append(factHeading, factImage, factText);
        })
      })
    </script>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
</div>
</div>
