<div class="row">
  <div class="col-md-4 userInfo">
    {{!--Lefthand section with userinfo and avatar image--}}
    <div class="row">
      <div class="col-md-12">
        <img src={{username.avatar}} alt="User image/avatar" id="avatarPic"/>{{!--User image URL from user table, needs handlebars and knex--}}
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 profileInfo">
        <h2>Profile Info</h2>
        <ul>
          <li>{{username.first_name}} {{username.last_name}}</li>{{!--First name from user table, needs handlebars and knex--}}
          <li>{{username.userAge}}</li>{{!--Age from user table, needs handlebars and knex--}}
          <li>{{username.aboutMe}}</li>{{!--aboutMe from user table, needs handlebars and knex--}}
        </ul>
        <a href="/editProfile"><button>Edit Profile</button></a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="/addBee"><button>Add Bee</button></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 beeFeed">
    {{!--Middle section with bee feed, needs to prepend for added bees--}}
    <div class="row">{{!--Need to do a FOR EACH based off of bees added by the logged in user--}}
      <div class="col-md-12">
        <h2>Bee Feed</h2>
        <ul>
          <li><img src="/images/megachile_apicalis.jpg" alt="a pic here" class="beeFeedPost"/>Bee Post</li>
          <li><img src="/images/megachile_apicalis.jpg" alt="a pic here" class="beeFeedPost"/>Bee Post</li>
          <li><img src="/images/megachile_apicalis.jpg" alt="a pic here" class="beeFeedPost"/>Bee Post</li>
          <li><img src="/images/megachile_apicalis.jpg" alt="a pic here" class="beeFeedPost"/>Bee Post</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="col-md-4 beeFacts">{{!--Randomly choose a fact from a series of facts??--}}
    {{!--Righthand section with bee fact of the day--}}
    <div class="row">
      <div class="col-md-12">
        <h3>Bee Fact of the Day</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="/images/megachile_apicalis.jpg" alt="Image for bee fact of the day" id="beeFact"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>The hard facts!</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

</div>
</div>
